<div class="input-group {{include.class}}">
  <label for="form-{% if include.fieldset %}{{include.fieldset}}--{% endif %}{{include.name}}">
    <span class="label-inner">{% if include.label %}{{ include.label }}{% else %}{{ include.name | replace: '_', ' ' | capitalize }}{% endif %}</span>
    {% if include.required %}<span class="required">*</span>{% endif%}
  <input
  type="{{include.type}}"
  name="{% if include.fieldset %}fieldset_{{include.fieldset}}[{% endif %}{{include.name}}{% if include.fieldset %}]{% endif%}"
  id="form-{% if include.fieldset %}{{include.fieldset}}--{% endif %}{{include.name}}"
  placeholder="{{ include.placeholder}}"
  {% if include.required %}required{% endif%}
  {% if include.disabled %}disabled{% endif%}/>
  </label>
  {% if include.help %}<p class="help-text">{{include.help}}</p>{% endif%}
</div>