<footer class="section main-footer">
  <div class="container">
    <div class="footer-left">
      {% include /images/stgeorges_logo_compact.svg %}
      <h4 class="footer-title">St George’s provides happy, welcoming spaces where local people can feel part of something.</h4>
    </div>
    <div class="footer-right">
    <img width="110" src="/uploads/safer-places.png" />
    <img width="130" src="/uploads/disability-confident.png" />
    </div>
    <div class="footer-centre">
      <p><strong>A big thank you to all our funders and partners!</strong></p>
      <p>Our partners include Big Lottery Local Sustainability Fund, Children in Need, CCG Wakefield, NatWest bank, Nova, and the Police &amp; Crime Commissioner</p>
    </div>

  </div>
    <nav class="footer-navigation">
      <div class="container">
        <a href="/privacy">Privacy Policy</a>
      </div>
    </nav>
</footer>

<div class="footer-copyright">
  &copy; 2017 St George’s Lupset Ltd. Registered charity in England and Wales, charity no. 109&shy;4331 and company no. 0384&shy;8228.
</div>