<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  if (document.forms[0] && window.FormData) {
    var form = [],
      formAction = [],
      statusMessage = [],
      request = [],
      formData = [],
      message = new Object();

      message.loading = "Sending message...";
      message.success =
        "<h3>Thank you for your message.</h3><p>We’ll get back to you as soon as we can.</p>";
      message.failure = "Error. Message not sent.";

    for (var i = 0; i < document.forms.length; i++) {


      form[i] = document.forms[i];
      formAction[i] = form[i].getAttribute("action");
      statusMessage[i] = document.createElement("div");
      statusMessage[i].innerHTML = message.loading;
      statusMessage[i].classList.add('message');
      statusMessage[i].classList.add('status');

      // Set up the AJAX request
      request[i] = new XMLHttpRequest();

      // Listen for the form being submitted
      form[i].addEventListener("submit", function(evt) {
        request[i].open("POST", formAction, true);
        request[i].setRequestHeader("accept", "application/json");
        evt.preventDefault();
        console.log(statusMessage);
        form[i].insertAdjacentElement('afterbegin',statusMessage[i]);

        // Create a new FormData object passing in the form's key value pairs (that was easy!)
        formData[i] = new FormData(form[i]);

        // Send the formData
        request[i].send(formData[i]);

        // Watch for changes to request.readyState and update the statusMessage accordingly
        request[i].onreadystatechange = function() {
          // <4 =  waiting on response from server
          if (request[i].readyState < 4) {
            statusMessage[i].innerHTML = message.loading;
          }
          else if (request[i].readyState === 4) {
            // 4 = Response from server has been completely loaded.
            // 200 - 299 = successful
            if (request[i].status == 200 && request[i].status < 300) {
              statusMessage[i].innerHTML = message.success;
            }
            else {
              statusMessage[i].innerHTML = message.failure;
            }
          }
        };
      });
    }
  }
</script>