.section--hero--activity {
  background-image: url('//res.cloudinary.com/#{$cloudinary}/image/fetch/c_fill,g_auto,q_auto,f_auto,ar_1280:492/dpr_auto,w_auto/c_limit,w_2000/#{$baseurl}/images/activity.jpg');
  @media screen and (orientation: portrait) {
    background-image: url('//res.cloudinary.com/#{$cloudinary}/image/fetch/c_fill,g_auto,q_auto,f_auto,ar_415:515/dpr_auto,w_auto/c_limit,w_1000/#{$baseurl}/images/activity.jpg');
  }
}
.section--hero--children {
  @include srcset('/images/youth.jpg');
}
.section--hero--nurseries {
  @include srcset('/images/childcare.jpg');
}

.section--hero--sandal {
  @include srcset('/images/sandal3.jpg');
}
.section--hero--broadway {
  @include srcset('/images/broadway.jpg');
}
.section--hero--sunbeam {
  @include srcset('/images/sunbeam.jpg');
}
.section--hero--stswithuns {
  @include srcset('/images/stswithuns.jpg');
}

.section--hero--centre {
  @include srcset('/images/centre_wide.jpg');
}

.section--hero--course {
  @include srcset('/images/learning_computer.jpg');
}

.section--hero--contact {
  @include srcset('/images/contact.jpg');
}

.section--hero--about {
  @include srcset('/images/aboutstgeorges.jpg');
}

.section--hero--jobs {
  @include srcset('/images/staff.jpg');
}

.section--hero--single {
  background-size: cover;
  background-position: center;

  .container {
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
  }

  .activity-header {
    position: relative;
    z-index: 99;
    background-color: $yellow;
    width: 100%;
    max-width: 0.6 * $max-width;
    padding: $base-spacing $small-spacing 0;
    @media screen and (min-width: $medium-screen) {
      padding: $base-spacing $base-spacing 0;
    }
    @media screen and (min-width: $large-screen) {
      padding: $base-spacing (2 * $base-spacing) 0;
    }

  }

  .breadcrumb {
    color: white;
    text-transform: capitalize;
    display: block;
    margin-bottom: $small-spacing;

    &::after {
      content: "";
      width: $small-spacing;
      height: $small-spacing;
      background-image: url(images/chevron-white.svg);
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
      display: inline-block;
    }
  }
}

.section--body {
  @media screen and (min-width: $medium-screen) {
    margin-bottom: 2 * $base-spacing;
  }

  .container {
    margin-top: 0;
  }

  .activity-body {
    background-color: $yellow;
    padding: $base-spacing $small-spacing ($base-spacing);
    @media screen and (min-width: $medium-screen) {
      padding: $base-spacing $base-spacing ($base-spacing);
    }
    @media screen and (min-width: $large-screen) {
      padding: $base-spacing (2 * $base-spacing) (2 * $base-spacing);
    }
    width: 100%;
    max-width: 0.6 * $max-width;
    margin: 0 auto;

    ul {
      margin-bottom: $small-spacing;
    }

    li::before {
      background-image: url(/images/chevron-white.svg);
    }
  }

  .activity-intro {
    margin-bottom: $base-spacing;
  }
}

.council-logo {
  max-width: 0.6 * $max-width;
  margin: (2 * $base-spacing) auto 0;
  text-align: right;

  p {
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
  }

  img {
    max-width: 40%;
    margin-left: auto;
    display: block;
  }
}

.enquire-form {
  display: none;
  margin-top: 2 * $base-spacing;
  padding: (2 * $base-spacing) $base-spacing;
  border: 0.2em solid white;
  h2 {
    margin-top: 0;
  }
}

.tab-content {
  .enquire-form {
    border: 0.2em solid $blue;
  }
}

.enquire-button {
  margin-top: $base-spacing;
}

.enquire-button.active {
  display: none;
}

.enquire-form.active {
  display: block;
}
