.facts {
  margin-top: 4 * $base-spacing;
  margin-bottom: 4 * $base-spacing;
  text-align: center;
  overflow: hidden;
  color: $blue;

  @media screen and (min-width: $medium-screen) {
    margin-left: -$small-spacing;
    margin-right: -$small-spacing;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }

  li {
    @media screen and (min-width: $medium-screen) {
      -webkit-box-flex: 0;
              flex: 0 1 33%;
      margin-right: 2 * $base-spacing;
    }

    @media screen and (min-width: $large-screen) {
      margin-right: 4 * $base-spacing;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .facts-figure {
    margin-bottom: $small-spacing;
    font-family: "Paper Cutout";
    font-weight: 400;
    font-size: modular-scale(7);

    @media screen and (min-width: $medium-screen) {
      font-size: modular-scale(8);
    }

    @media screen and (min-width: $large-screen) {
      font-size: modular-scale(9);
    }
  }

  p {
    font-size: modular-scale(1);
    font-weight: 700;
  }
}
