.main-footer {
  background-color: $blue;

  .container {
    overflow: hidden;
    padding: 0 $base-spacing;

    @media screen and (min-width: $medium-screen) {
      padding: 0;
    }
  }

  .footer-logo {
    display: block;
    width: auto;
    height: 3 * $base-spacing;
    width: 3 * $base-spacing;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    margin-right: $small-spacing;
  }

  .footer-title {
    margin-bottom: 0;
  }

  .footer-left {
    color: white;

    @media screen and (min-width: $medium-screen) {
      width: 45%;
      float: left;
    }

    @media screen and (min-width: $large-screen) {
      width: 40%;
    }

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .footer-right {
    margin-top: 2 * $base-spacing;
    display: none;
    @media screen and (min-width: $medium-screen) {
      display: block;
      margin-top: 0;
      margin-right: $base-spacing;
      width: 45%;
      float: right;
    }

    @media screen and (min-width: $large-screen) {
      width: 40%;
    }

    p {
      margin-bottom: $small-spacing / 2;
    }

    p:nth-child(2) {
      font-size: modular-scale(-1);
      margin-bottom: 0;
    }
  }
}

.footer-copyright {
  background-color: $blue;
  padding: $small-spacing $base-spacing;
  color: white;
  border-bottom: none;
  text-align: left;
  font-size: modular-scale(-1);
  @media screen and (min-width: $medium-screen) {
    text-align: center;
  }
}
