.section--about-us {
  .container {
    position: relative;
    background-color: $red;
    color: white;
    padding-top: 2 * $base-spacing;
    padding-bottom: 2 * $base-spacing;
    @media screen and (min-width: $large-screen) {
      padding-left: 50%;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: justify;
              justify-content: space-between;
      &::before {
        display: block;
        content: "";
        background-image: url(/images/danceplaytalk.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 45%;
        height: 90%;
        top: 5%;
        left: 5%;
        position: absolute;
      }
    }

    .text {
      padding-right: $base-spacing;
      padding-left: $small-spacing;

      @media screen and (min-width: $large-screen) {
        padding-right: 0;
        width: 100%;
        padding-top: 2 * $base-spacing;
        padding-bottom: $base-spacing;
        padding-left: $base-spacing;
      }
    }

    li {
      margin-bottom: 1.5 * $base-spacing;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      font-size: modular-scale(3);

      @media screen and (min-width: $medium-screen) {
        font-size: modular-scale(2);
      }
    }

    a {
      display: block;
      padding-right: 2 * $base-spacing;

      @media screen and (min-width: $medium-screen) {
        padding-right: 3.5 * $base-spacing;
      }

      position: relative;
      color: white;

      &:hover::after {
        -webkit-transform: translateX($small-spacing);
                transform: translateX($small-spacing);
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 2 * $base-spacing;
        width: 2 * $base-spacing;
        border-radius: 50%;
        border: 0.15em solid white;
        background: url(/images/chevron-white.svg) no-repeat (center / $base-spacing) auto;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        transition: -webkit-transform $base-duration;
        transition: transform $base-duration;
        transition: transform $base-duration, -webkit-transform $base-duration;

        @media screen and (min-width: $large-screen) {
          top: $small-spacing;
          height: 3 * $base-spacing;
          width: 3 * $base-spacing;
        }
      }
    }

    p {
      font-weight: 700;
    }
  }
}
