.news-item {
  display: block;
  color: $base-font-color;
  padding: $base-spacing 0;

  + .news-item {
    border-top: 1px solid lightgray;
  }
}

.post-title {
  font-size: 2.5em;
  margin: $base-spacing 0 1.5* $base-spacing;
}

.news-item--read-more {
  display: inline-block;
  margin-top: $small-spacing;
  font-weight: bold;
  font-size: modular-scale(-1);
}