@mixin srcset($image,$width: 100%,$quality: 85) {
  background-image: url('#{$image}');
  @if( $local  != 'true' ) {
    @each $size in $sizes {
      $w: $width/100% * $size/1px;

      @media screen and (min-width: $size) {
        background-image: url('http://res.cloudinary.com/#{$cloudinary}/image/fetch/w_#{$w},q_#{$quality}/#{$baseurl}#{$image}')
      }
      @media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: $size),
             screen and (min-resolution: 150dpi) and (min-width: $size) {
        background-image: url('http://res.cloudinary.com/#{$cloudinary}/image/fetch/w_#{$w * 1.5},q_#{$quality}/#{$baseurl}#{$image}')
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $size),
             screen and (min-resolution: 200dpi) and (min-width: $size) {
        background-image: url('http://res.cloudinary.com/#{$cloudinary}/image/fetch/w_#{$w * 2},q_#{$quality}/#{$baseurl}#{$image}')
      }
    }
  } @else {
    background-image: url('#{$image}');
  }
}
