@mixin tabs($num-of-tabs) {
  @for $i from 1 through $num-of-tabs {
    input[type="radio"][name="tabs"]:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc(((100% - #{$base-spacing}) / #{$num-of-tabs}) * #{$i - 1});
          @media screen and (min-width: $medium-screen) {
            left: calc(((100% - #{2 * $base-spacing}) / #{$num-of-tabs}) * #{$i - 1});
          }
          @media screen and (min-width: $large-screen) {
            left: calc(((100% - #{4 * $base-spacing}) / #{$num-of-tabs}) * #{$i - 1});
          }
        }

        ~ .tab-content:nth-of-type(#{$i}) {
          display: block;
        }

        ~ label:nth-of-type(#{$i}) {
          color: white;
        }
      }
    }
  }
}

.tab-wrap, .content-wrap {
  padding: 0 ($small-spacing) (2 * $base-spacing);
  width: 100%;
  max-width: 0.6 * $max-width;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $medium-screen) {
    padding: 0 ($base-spacing) (2 * $base-spacing);
  }
  @media screen and (min-width: $large-screen) {
    padding: 0 (2 * $base-spacing) (2 * $base-spacing);
  }
}

.tab-wrap {
  margin-top: -2 * $base-spacing;
}

.content-wrap {
  padding-top: 2 * $base-spacing;
  display: block;

  .button {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;

  &:checked {
    label {
      color: white;
    }
  }

  // @include tabs
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

[data-tabs="1"] {
  label, .slide {
    display: none;
  }

  .tab-content {
    display: block;
  }
}

[data-tabs="2"] {
  @include tabs(2);

  .slide {
    width: calc((100% - #{$base-spacing}) / 2);
    @media screen and (min-width: $medium-screen) {
      width: calc((100% - #{2 * $base-spacing}) / 2);
    }
    @media screen and (min-width: $medium-screen) {
      width: calc((100% - #{4 * $base-spacing}) / 2);
    }
  }
}

[data-tabs="3"] {
  @include tabs(3);

  .slide {
    width: calc((100% - #{$base-spacing}) / 3);
    @media screen and (min-width: $medium-screen) {
      width: calc((100% - #{2 * $base-spacing}) / 3);
    }
    @media screen and (min-width: $medium-screen) {
      width: calc((100% - #{4 * $base-spacing}) / 3);
    }
  }
}

[data-tabs="4"] {
  @include tabs(4);
  .slide {
    width: calc((100% - #{$base-spacing}) / 4);
    @media screen and (min-width: $medium-screen) {
      width: calc((100% - #{2 * $base-spacing}) / 4);
    }
    @media screen and (min-width: $large-screen) {
      width: calc((100% - #{4 * $base-spacing}) / 4);
    }
  }
}

input[name="tabs"] + label {
  -webkit-box-flex: 1;
          flex: 1 0 1%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: $yellow;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  height: 2 * $base-spacing;
  transition: color 0.2s ease;
  width: 100%;
  font-size: modular-scale(-1);
  @media screen and (min-width: $medium-screen) {
    font-size: modular-scale(0);
  }
}

.slide {
  background: white;
  opacity: 0.7;
  height: $small-spacing / 2;
  margin-left: $small-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-left: $base-spacing;
  }
  @media screen and (min-width: $large-screen) {
    margin-left: 2 * $base-spacing;
  }
  position: absolute;
  left: 0;
  top: 1.75 * $base-spacing;
  transition: left 0.3s ease-out;
}

.tab-content {
  -webkit-box-ordinal-group: 100;
          order: 99;
  -webkit-box-flex: 1;
          flex: 1 0 100%;
  margin-top: 2 * $base-spacing;
  display: none;
  a:not(.button) {
    color: $yellow;
  }
  h2 {
    margin-top: 2 * $base-spacing;
  }

  h3 {
    margin-top: $base-spacing;
    font-size: modular-scale(0);
  }

  iframe {
    max-width: 100%;
  }

  > *:first-child {
    margin-top: 0;
  }

  table {
    table-layout: auto;
  }

  .tab-child-item {
    border: 0.2em solid $blue;
    margin: $base-spacing 0;
    padding: $base-spacing;

    strong {
      display: inline-block;
      width: 25%;
    }

    ul {
      border-top: 1px solid $blue;
      margin: $base-spacing 0;
      padding: 0;
    }

    li {
      border-bottom: 1px solid $blue;
      margin: 0;
      padding: $small-spacing;

      &::before {
        content: none;
      }
    }
  }

  iframe.nurseryinabox {
    margin: $base-spacing (-$base-spacing);
    max-width: none;
    width: calc(100% + #{2 * $base-spacing});
    -webkit-filter: saturate(0.5);
            filter: saturate(0.5);
  }

  .trustee-photos {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    .trustee {
      -webkit-box-flex: 0;
              flex: 0 0 50%;
              padding: $small-spacing;
              @media screen and (min-width: $large-screen) {
                -webkit-box-flex: 0;
                        flex: 0 0 33.33%;
                        padding: $base-spacing;

              }
              text-align: center;
              img {
                border-radius: $small-spacing/2;
                display: block;
                margin-bottom: $small-spacing;
              }
              p {
                margin-bottom: 0;
              }

    }
  }
}

.tab-footer-navigation {
  background-color: $yellow;
  color: white;
  padding: 2 * $base-spacing 2 * $base-spacing;
  margin: 2 * $base-spacing (-$small-spacing) 0;
  @media screen and (min-width: $medium-screen) {
    margin: 2 * $base-spacing (-$base-spacing) 0;
  }
  @media screen and (min-width: $large-screen) {
    margin: 2 * $base-spacing (-2 * $base-spacing) 0;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
