---
layout: default
---

<section class="section section--hero section--hero--single section--hero--activity">
  <div class="container">
    <header class="activity-header">
      <a class="breadcrumb" href="../">{{ page.collection }}</a>
      <h1 class="hero-title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="section section--body section--body--activity">
  <div class="container">
    <div class="activity-body">
      {{ page.description | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}
      <p><strong>Times:</strong> {{ page.times }}</p>
      {% if page.cost %}
        {{ page.cost | prepend: '<p><strong>Cost:</strong> ' | append: '</p>' }}
      {% endif %}
      {% if page.location %}
        {{ page.location | prepend: '<p><strong>Location:</strong> ' | append: '</p>' }}
      {% endif %}
      {% if page.additional_info %}
        {{ page.additional_info | prepend: '<p><strong>Additional info:</strong> ' | append: '</p>' }}
      {% endif %}

      {% if page.suitabilities %}
      <p><strong>This activity welcomes people who:</strong></p>
        <ul>
          {% for suitability in page.suitabilities %}
            <li>{{ suitability }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <button type="button" class="enquire-button white" name="button">Enquire about {{page.title}}</button>
      <form class="enquire-form" action="https://form.letsdance.agency/vzMz7DYk" method="POST">
        <h2>Enquire about {{page.title}}</h2>
      <input type="text" name="_subject" hidden value="Enquiry about {{page.title}} from St George’s website"/>
      <label for="form-name">Name
      <input type="text" name="name" id="form-name" placeholder="Enter your name" required/>
      </label>
      <label for="form-email">Email
      <input type="email" name="_replyto" id="form-email" placeholder="Enter your email address" required/>
      </label>
      <label for="form-phone">Phone number
      <input type="number" name="phone" id="form-phone" placeholder="Enter your phone number (optional)"/>
      </label>
      <label for="form-message">Message
      <textarea type="number" name="message" id="form-message" placeholder="Enter your message"></textarea>
      </label>
      <div class="g-recaptcha" data-sitekey="6LdNn1AUAAAAAA-VLy7CCzufqQi7EhPyoWQwcHIM"></div>
      <input type="submit" value="Send" class="button white"/>
      </form>

    </div>
  </div>
</section>