---
layout: default
---

<section class="section section--hero section--hero--single section--hero--activity">
  <div class="container">
    <header class="activity-header">
      <a class="breadcrumb" href="../">{{ page.collection }}</a>
      <h1 class="hero-title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="section section--body section--body--activity">
  <div class="container">
    <div class="activity-body">
      {{ page.description | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}
      <p><strong>Times:</strong> {{ page.times }}</p>
      {% if page.cost %}
        {{ page.cost | prepend: '<p><strong>Cost:</strong> ' | append: '</p>' }}
      {% endif %}
      {% if page.location %}
        {{ page.location | prepend: '<p><strong>Location:</strong> ' | append: '</p>' }}
      {% endif %}
      {% if page.additional_info %}
        {{ page.additional_info | prepend: '<p><strong>Additional info:</strong> ' | append: '</p>' }}
      {% endif %}

      {% if page.suitabilities %}
      <p><strong>This activity welcomes people who:</strong></p>
        <ul>
          {% for suitability in page.suitabilities %}
            <li>{{ suitability }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <a class="button enquire-button white" href="mailto:info@stgeorgeslupset.org.uk?subject=Enquiry about {{page.title}}">Enquire about {{page.title}}</a>
    </div>
  </div>
</section>