---
layout: default
---

<section class="section section--hero section--hero--home" data-slide="1">
  <div class="container container--padded">
    <div class="home-slide">
      <h1 class="hero-title">Happy</h1>
    </div>
    <div class="home-slide">
      <h1 class="hero-title">Welcome</h1>
    </div>
    <div class="home-slide">
      <h1 class="hero-title">Part of<br />something</h1>
    </div>
  </div>
</section>


<section class="section section--introduction">
  <div class="container">
    <div class="text">
      <div class="inner">
        <h3 class="introduction-title">Hello. We are <span>St George’s</span></h2>
        <p>We’re St George’s and we provide happy, welcoming spaces where local people can feel part of something.</p>
        <p>As an independent charity we’ve been providing services and activities to improve health and wellbeing for over twenty years.</p>
      </div>
    </div>
    <div class="image" style="background-image: url(images/IMG_1883.jpg)"></div>
  </div>
</section>


<section class="section section--what-we-do">
  <div class="container">
    <ul>
      <li>
        <a href="/learning/"><img src="/images/IMG_1707.jpg" alt="" /></a>
        <h3>Learning</h3>
        <p>We deliver affordable workshops and courses that help people learn and become more employable.</p>
        <a class="button" href="/courses/">Find out more</a>
      </li>
      <li>
        <a href="/nurseries/"><img src="/images/childcare_thumb.jpg" alt="" /></a>
        <h3>Nurseries</h3>
        <p>We provide quality, friendly and affordable early education and childcare from birth.</p>
        <a class="button" href="/nurseries/">Find out more</a>
      </li>
      <li>
        <a href="/wellbeing/"><img src="/images/IMG_2418.jpg" alt="" /></a>
        <h3>Wellbeing</h3>
        <p>We offer both activities and advice to help people feel good, both mentally and physically.</p>
        <a class="button" href="/wellbeing/">Find out more</a>
      </li>
      <li>
        <a href="/young-people/"><img src="/images/youngpeople_thumb.jpg" alt="" /></a>
        <h3>Young people</h3>
        <p>We give children and teenagers a place where they can hang out with friends, learn and have fun.</p>
        <a class="button" href="/young-people/">Find out more</a>
      </li>
    </ul>
  </div>
</section>

<section class="section section--centre">
  <div class="container">
    <a href="/contact">
      <div class="inner">
        <h3>Contact us</h3>
        <p>Find out where to find us and how you can talk to us</p>
      </div>
    </a>
    <a href="/jobs">
      <div class="inner">
        <h3>Work with us</h3>
        <p>We’re proud to be one of the biggest employers in West Wakefield</p>
      </div>
    </a>
    <a href="/jobs#volunteering">
      <div class="inner">
        <h3>Volunteer with us</h3>
        <p>Gain skills and feel good helping others at the same time</p>
      </div>
    </a>
  </div>
  <div class="container">
    <a href="/centre#our-cafe">
      <div class="inner">
        <h3>Our cafe</h3>
        <p>Nutritious home-cooked hot and cold meals, drinks and snacks</p>
      </div>
    </a>
    <a href="/centre#room-hire">
      <div class="inner">
        <h3>Room hire</h3>
        <p>Room hire for the community at affordable prices</p>
      </div>
    </a>
    <a href="/centre#transport-hire">
      <div class="inner">
        <h3>Vehicle hire</h3>
        <p>Our minibus and driver are available for community hire</p>
      </div>
    </a>
  </div>
</section>



<section class="section section--about-us">
  <div class="container container--padded">
    <ul class="text">
      <li>
        <a href="/about#our-values">
          <div class="inner">
            <h3>Why we’re here</h3>
            <p>As a locally-focused charity and community anchor organisation, our work is guided by our strategic plan.</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/about#our-purpose">
          <div class="inner">
            <h3>How we do things</h3>
            <p>We know the way we do things matters just as much as what we actually do. That’s why our work is guided by our values.</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/about#our-people">
          <div class="inner">
            <h3>Who we are</h3>
            <p>Our services are delivered by a team of staff, supported by volunteers and guided by our board of trustees.</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="section section--case-study">
  <div class="container">
    {% for story in site.stories %}
      <div class="case-slide {% if story.flipped %}right-align{% endif %}" style="background-image: url({{ story.photo }})">
        <div class="case-study-text">
          <h2 class="case-study-pullout">{{ story.quote}}</h2>
          <p class="case-study-summary">{{ story.description }}</p>
          <a class="button" href="{{ story.url | replace: 'index.html', '' }}">Hear {{ story.name }}’s story</a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>