---
layout: default
---

<section class="section section--hero section--hero--single section--hero--course">
  <div class="container">
    <header class="activity-header">
      <a class="breadcrumb" href="../">{{ page.collection }}</a>
      {{ page.subject_area | prepend: '<p class="activity-subject">' | append: '</p>' }}
      <h1 class="hero-title">{{ page.title }}</h1>
      {{ page.qualification | prepend: '<h3 class="activity-qualification">' | append: '</h3>' }}
    </header>
  </div>
</section>

<section class="section section--body section--body--course">
  <div class="container">
    <div class="activity-body">
      {{ page.description | markdownify | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}

      {% if page.outcomes %}
        <h3>You will learn:</h3>
        <ul>
          {% for outcome in page.outcomes %}
            <li>{{ outcome }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.requirements %}
        <h3>Who it’s for:</h3>
        <ul>
          {% for requirement in page.requirements %}
            <li>{{ requirement }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.time_and_location %}
        <h3>Time and location:</h3>
        <ul>
          {% for time in page.time_and_location %}
            <li>{{ time }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.equipment %}
        <h3>What do I need:</h3>
        <ul>
          {% for equipment in page.equipment %}
            <li>{{ equipment }}</li>
          {% endfor %}
        </ul>
      {% endif %}


      {% if page.information %}
        <h3>Additional information:</h3>
        <ul>
          {% for info in page.information %}
            <li>{{ info }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      
      <a class="button enquire-button white" href="mailto:info@stgeorgeslupset.org.uk?subject=Enquiry about {{page.title}}">Enquire about {{page.title}}</a>

      {% if page.council %}
        <div class="council-logo">
          <p>this is a course run by</p>
          <img src="/images/wakefield-council.png" alt="Wakefield Council – working for you">
        </div>
      {% endif %}
    </div>

  </div>
</section>