---
layout: default
---

<section class="section section--hero section--hero--single section--hero--{{ page.collection}} section--hero--{{page.path | remove: '.md' | remove: '_nurseries/'}}">
  <div class="container">
    <header class="activity-header">
      <a class="breadcrumb" href="../">{{ page.collection }}</a>
      <h1 class="hero-title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="section section--body section--body--nursery">
  <div class="container">
    <div class="activity-body">
      {{ page.description | markdownify | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}
    </div>

    <div class="tab-wrap" data-tabs="4">
      <input type="radio" name="tabs" id="tab-overview" checked>
      <label for="tab-overview">Overview</label>
      <div class="tab-content">
        <h2>Our services</h2>
        {{ page.services | markdownify }}

        <h2>Ofsted</h2>
        {% if page.ofsted_link %}<a class="button" href="{{ page.ofsted_link }}" target="_blank">View our Ofsted reports and rating</a>{% endif %}

        <h2>Contact us</h2>

        <table>
          <tr>
            <td><strong>Address: </strong></td>
            <td>{{ page.address }} (<a href="{{page.map}}" target="_blank">view on map</a>)</td>
          </tr>
          <tr>
            <td><strong>Telephone:</strong></td>
            <td>{{ page.phone }}</td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><a href="mailto:{{ page.email }}">{{ page.email }}</a></td>
          </tr>
        </table>




      </div>
      <input type="radio" name="tabs" id="tab-parents">
      <label for="tab-parents">Parents</label>
      <div class="tab-content">
        <h2>Parent admin</h2>
        <p>For registered parents only – you will be sent a registration link. Sign in to parent admin to view invoices, payment details and booking patterns, as well as update things like collection passwords, emergency contact details and medical records.</p>
        <a class="button" target="_blank" href="http://www.parentadmin.com">Access Parent Admin</a>

        <h2>Capture</h2>
        <p>Track, share and support your child’s learning journey.</p>
        <a class="button" target="_blank" href="https://family.capture-eduk8.com/#login">Access Capture</a>
      </div>
      <input type="radio" name="tabs" id="tab-viewings">

      <label for="tab-viewings">Visit</label>
      <div class="tab-content">

        <h2>Arrange a visit</h2>
        <p>Our nurseries have an open door policy for prospective parents/carers.</p>
        <p>To arrange a viewing at a specific time, you can complete the form below.</p>
        {{ page.viewing_code}}

      </div>
      <input type="radio" name="tabs" id="tab-register">
      <label for="tab-register">Register</label>
      <div class="tab-content">
        <h2>Register a child</h2>
        <p>To register a child, please complete the form below.</p>
        <p>Please note that applying for a place is not a guarantee of your childcare place. You’ll be added to our waiting list and we will allocate you a place when one comes available.</p>
        {{ page.registration_code}}
      </div>

      <div class="slide slide-four"></div>
    </div>
  </div>
</section>

{% include scripts_tabs.html %}