---
layout: default
---

<section class="section section--hero section--hero--single section--hero--{{ page.collection}} section--hero--{{page.path | remove: '.md' | remove: '_nurseries/'}}">
  <div class="container">
    <header class="activity-header">
      <a class="breadcrumb" href="../">{{ page.collection }}</a>
      <h1 class="hero-title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="section section--body section--body--nursery">
  <div class="container">
    <div class="activity-body">
      {{ page.description | markdownify | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}
    </div>

    <div class="tab-wrap" data-tabs="4">
      <input type="radio" name="tabs" id="tab-overview" checked>
      <label for="tab-overview">Overview</label>
      <div class="tab-content">
        <h2>Our services</h2>
        {{ page.services | markdownify }}

        <h2>Ofsted</h2>
        {% if page.ofsted_link %}<a class="button" href="{{ page.ofsted_link }}" target="_blank">View our Ofsted reports and rating</a>{% endif %}

        <h2>Contact us</h2>

        <table>
          <tr>
            <td><strong>Address: </strong></td>
            <td>{{ page.address }} (<a href="{{page.map}}" target="_blank">view on map</a>)</td>
          </tr>
          <tr>
            <td><strong>Telephone:</strong></td>
            <td>{{ page.phone }}</td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><a href="mailto:{{ page.email }}">{{ page.email }}</a></td>
          </tr>
        </table>




      </div>
      <input type="radio" name="tabs" id="tab-parents">
      <label for="tab-parents">Parents</label>
      <div class="tab-content">
        <h2>Parent admin</h2>
        <p>For registered parents only – you will be sent a registration link. Sign in to parent admin to view invoices, payment details and booking patterns, as well as update things like collection passwords, emergency contact details and medical records.</p>
        <a class="button" target="_blank" href="http://www.parentadmin.com">Access Parent Admin</a>

        <h2>Capture</h2>
        <p>Track, share and support your child’s learning journey.</p>
        <a class="button" target="_blank" href="https://family.capture-eduk8.com/#login">Access Capture</a>

        <h2>Useful documents</h2>
        <ul>
          <li><a href="/uploads/childcare_terms_2019.pdf">Terms and conditions</a></li>
        </ul>

      </div>
      <input type="radio" name="tabs" id="tab-viewings">

      <label for="tab-viewings">Visit</label>
      <div class="tab-content">

        <h2>Arrange a visit</h2>
        <p>Our nurseries have an open door policy for prospective parents/carers so you can drop in any time you like and we will be happy to show you around.</p>
        <p>To arrange a viewing at a specific time please call 01924 330260 or fill in the form below.</p>

        <form action="https://form.letsdance.agency/vzMz7DYk" method="POST">
          <input type="text" name="_subject" hidden value="Childcare enquiry from St George’s website"/>
          <label for="form-name">Name
          <input type="text" name="name" id="form-name" placeholder="Enter your name" required/>
          </label>
          <label for="form-email">Email
          <input type="email" name="_replyto" id="form-email" placeholder="Enter your email address" required/>
          </label>
          <label for="form-phone">Phone number
          <input type="number" name="phone" id="form-phone" placeholder="Enter your phone number (optional)"/>
          </label>
          <input name="_cc" value="childcare@stgeorgeslupset.org.uk" type="hidden" id="form-cc" />
          <label for="form-message">Message</label>
          <textarea type="number" name="message" id="form-message" placeholder="Enter your message"></textarea>
          <div class="g-recaptcha" data-sitekey="6LdNn1AUAAAAAA-VLy7CCzufqQi7EhPyoWQwcHIM"></div>
          <input type="submit" value="Send" class="button"/>
        </form>

      </div>
      <input type="radio" name="tabs" id="tab-register">
      <label for="tab-register">Register</label>
      <div class="tab-content">
        <h2>Register a child</h2>
        <p>To register a child, please complete the form below.</p>
        <p>Please note that applying for a place is not a guarantee of your childcare place. You’ll be added to our waiting list and we will allocate you a place when one comes available.</p>
        {{ page.registration_code}}
      </div>

      <div class="slide slide-four"></div>
    </div>
  </div>
</section>

{% include scripts_tabs.html %}