---
layout: default
---

<section class="section section--hero section--hero--single section--hero--{{page.name | replace:'.md',''}}">
  <div class="container">
    <header class="activity-header">
      <h1 class="hero-title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="section section--body section--body--{{page.name | replace:'.md',''}}">
  <div class="container">


    <div class="activity-body">
      {{ page.description | markdownify | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}
    </div>


    {% unless page.tabs %}
      <div class="content-wrap">
        {{ page.content | markdownify }}
      </div>
    {% endunless %}

    <div class="tab-wrap" data-tabs="{{page.tabs | size }}">
      {% for tab in page.tabs %}
        <input type="radio" name="tabs" id="tab-{{tab.title | replace:' ','-' | downcase}}" {% if forloop.first %}checked{% endif %}>
        <label for="tab-{{tab.title | replace:' ','-' | downcase}}">{{tab.title}}</label>
        <div class="tab-content">
          {{ tab.content | markdownify }}
          {% if site[tab.childname].size > 0  %}
          <h3>Current opportunities</h3>
            <ul>
              {% for item in site[tab.childname] %}
                <li class="tab-child-item">
                  <h4>{{ item.title }}</h4>
                  {{ item.description | markdownify }}
                  <ul>
                    {% if item.contract %}
                      <li><strong>Contract:</strong> {{ item.contract }}</li>
                    {% endif %}
                    {% if item.pay %}
                      <li><strong>Pay:</strong> {{ item.pay }}</li>
                    {% endif %}
                    {% if item.hours %}
                      <li><strong>Hours:</strong> {{ item.hours }}</li>
                    {% endif %}
                    {% if item.time %}
                      <li><strong>Time involved:</strong> {{ item.time }}</li>
                    {% endif %}
                    {% if item.contact_email %}
                      <li><strong>Contact email:</strong> <a href="mailto:{{ item.contact_email }}">{{ item.contact_email }}</a></li>
                    {% endif %}
                    {% if item.contact_phone %}
                      <li><strong>Contact phone:</strong> {{ item.contact_phone }}</li>
                    {% endif %}
                  </ul>{{item}}
                  {% if item.application_link %}
                  <a href="{{ item.application_link }}" class="button">Apply now</a>
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          {% elsif tab.childname %}
            <p class="message">No specific {{tab.childname}} opportunities to show you at this time.</p>
          {% endif %}

        </div>
      {% endfor%}
      <div class="slide"></div>



    </div>
  </div>
</section>

{% include scripts_tabs.html %}