---
layout: default
---
<section class="section section--hero section--hero--single section--hero--{{page.path | replace:'_pages/','' | replace: '.md', ''}}">
  <div class="container">
    <header class="activity-header">
      <h1 class="hero-title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="section section--body section--body--{{page.path | replace:'/index.md',''}}">
  <div class="container">


    <div class="activity-body">
      {{ page.description | markdownify | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}
    </div>


    {% unless page.tabs %}
      <div class="content-wrap">
        {{ page.content | markdownify }}
      </div>
    {% endunless %}

    <div class="tab-wrap" data-tabs="{{page.tabs | size }}">
      {% for tab in page.tabs %}
        <input type="radio" name="tabs" id="tab-{{tab.title | replace:' ','-' | downcase}}" {% if forloop.first %}checked{% endif %}>
        <label for="tab-{{tab.title | replace:' ','-' | downcase}}">{{tab.title}}</label>
        <div class="tab-content">
          {{ tab.content | markdownify }}
          {% if tab.files %}
          <ul>
            {% for file in tab.files %}
            <li><a href="{{ file.path }}">{{ file.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          {{ tab.contact }}
          {% if site[tab.childname].size > 0  %}
          <h3>Current {{ tab.childname | replace: '-', ' ' }}</h3>
            <ul>
              {% for item in site[tab.childname] %}
                <li class="tab-child-item">
                  <h4>{{ item.title }}</h4>
                  {{ item.description | markdownify }}
                  <ul>
                    {% if item.contract %}
                      <li class="tab-child-item-row"><strong>Contract:</strong><p>{{ item.contract }}</p></li>
                    {% endif %}
                    {% if item.pay %}
                      <li class="tab-child-item-row"><strong>Pay:</strong><p>{{ item.pay }}</p></li>
                    {% endif %}
                    {% if item.hours %}
                      <li class="tab-child-item-row"><strong>Hours:</strong><p>{{ item.hours }}</p></li>
                    {% endif %}
                    {% if item.time %}
                      <li class="tab-child-item-row"><strong>Time involved:</strong><p>{{ item.time }}</p></li>
                    {% endif %}
                    {% if item.contact_email %}
                      <li class="tab-child-item-row"><strong>Contact email:</strong><p><a href="mailto:{{ item.contact_email }}">{{ item.contact_email }}</a></p></li>
                    {% endif %}
                    {% if item.contact_phone %}
                      <li class="tab-child-item-row"><strong>Contact phone:</strong><p>{{ item.contact_phone }}</p></li>
                    {% endif %}
                  </ul>{{item}}
                  {% if item.application_link %}
                  <a href="{{ item.application_link }}" class="button">Apply now</a>
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          {% elsif tab.childname and tab.childname != '' %}
            <p class="message">No specific {{tab.childname}} opportunities to show you at this time.</p>
          {% endif %}

        </div>
      {% endfor%}
      <div class="slide"></div>



    </div>
  </div>
</section>

{% include scripts_tabs.html %}