---
layout: default
---

<section class="section section--hero section--hero--single section--hero--children">
  <div class="container">
    <header class="activity-header">
      <a class="breadcrumb" href="../">{{ page.collection | replace:'-',' ' | capitalize }}</a>
      <h1 class="hero-title">{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="section section--body section--body--course">
  <div class="container">
    <div class="activity-body">
      {{ page.description | markdownify | prepend: '<h2 class="activity-intro">' | append: '</h2>' }}
      {% if page.requirements %}
        {{ page.requirements | markdownify | prepend: '<p><strong>Who it’s for:</strong> ' | append: '</p>' }}
      {% endif %}
      {% if page.times %}
      <p><strong>This activity happens on:</strong></p>
        <ul>
          {% for time in page.times %}
            <li>{{ time }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if page.location %}
        {{ page.location | prepend: '<p><strong>Location:</strong> ' | append: '</p>' }}
      {% endif %}
      {% if page.equipment %}
        {{ page.equipment | markdownify | prepend: '<p><strong>What do I need?</strong> ' | append: '</p>' }}
      {% endif %}
      <a class="button enquire-button white" href="mailto:info@stgeorgeslupset.org.uk?subject=Enquiry about {{page.title}}">Enquire about {{page.title}}</a>

      {% if page.council %}
        <div class="council-logo">
          <p>this is a course run by</p>
          <img src="/images/wakefield-council.png" alt="Wakefield Council – working for you">
        </div>
      {% endif %}
    </div>

  </div>
</section>