#{$all-buttons} {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: .15em solid $action-color;
  border-radius: 2 * $base-spacing;
  color: $action-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-image: url(/images/chevron-blue.svg);
  padding-right: 1.5 * $base-spacing;
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-position: right $small-spacing center;
  &.back {
    padding-right: $small-spacing;
    padding-left: 1.5 * $base-spacing;
    background-position: left $small-spacing center;
  }
  &.white {
    background-image: url(/images/chevron-white.svg);
    &.back {
      background-image: url(/images/chevron-white-backwards.svg);
    }
    color: white;
    border-color: white;
    &:hover, &:focus {
      color: $base-font-color;
      background-color: white;
      background-image: url(/images/chevron-black.svg);
    }
  }
  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

input[hidden] {
  display: none
}
